# <font color="red"> MBA em IA e Big Data</font>
## <span style="color:red">Linguagens e Ferramentas para Inteligência Artificial e Big Data (Python e SQL)</span>

### <span style="color:darkred">Python: referências, operações e funções</span>

## Avaliação

*Leandro Franco de Souza*<br>
*ICMC/USP São Carlos*

*(com material do Prof. Moacir Antonelli Ponti)*

<font color='red'> As respostas devem ser fornecidas no Moodle. O notebook é apenas para a implementação dos códigos que fornecerão as respostas</font>

## Questão 1

Considere que temos tuplas contendo registros de passageiros em um vôo. As tuplas são organizadas de forma que os elementos estão sempre nessa ordem:
* Abreviação do país com 3 letras (ex. 'BRA', 'ARG')
* Passaporte
* Mês de vencimento do passaporte
* Ano de vencimento do passaporte
* Valor pago pelo trecho

Seja uma lista contendo tuplas do tipo acima.  Calcule o valor médio pago pelo trecho entre todos os passageiros

a) 996.4<br>
b) 999.99<br>
c) 1009.1<br>
d) 990.50

In [1]:
lv = [('BRA', 'DFD-2992', 12, 2021, 999.0),
      ('ARG', '1112992', 1, 2022, 899.0),
      ('EUA', 'AB3DA000', 11, 2021, 1023.0),
      ('BRA', 'GCG-1112', 9, 2021, 900.0),
      ('ESP', 'DFD-2992', 11, 2021, 899.0),
      ('URU', 'AEC423', 3, 2023, 699.0),
      ('PAR', 'DFD-2992', 2, 2025, 1099.0),
      ('ARL', 'X123111Z', 10, 2021, 954.0),
      ('URU', 'BAC203', 2, 2025, 1011.0),
      ('ARG', '3112323', 10, 2021, 1250.0),
      ('URU', 'ABC123', 12, 2024, 1001.5),
      ('BRA', 'AAB-2992', 8, 2021, 1050.9),
      ('BRA', 'EFE-2992', 8, 2022, 1170.1),
      ('VEN', 'GAC292', 4, 2023, 1000.6),
      ('PER', '2992DDE', 9, 2021, 989.9)]

lv

[('BRA', 'DFD-2992', 12, 2021, 999.0),
 ('ARG', '1112992', 1, 2022, 899.0),
 ('EUA', 'AB3DA000', 11, 2021, 1023.0),
 ('BRA', 'GCG-1112', 9, 2021, 900.0),
 ('ESP', 'DFD-2992', 11, 2021, 899.0),
 ('URU', 'AEC423', 3, 2023, 699.0),
 ('PAR', 'DFD-2992', 2, 2025, 1099.0),
 ('ARL', 'X123111Z', 10, 2021, 954.0),
 ('URU', 'BAC203', 2, 2025, 1011.0),
 ('ARG', '3112323', 10, 2021, 1250.0),
 ('URU', 'ABC123', 12, 2024, 1001.5),
 ('BRA', 'AAB-2992', 8, 2021, 1050.9),
 ('BRA', 'EFE-2992', 8, 2022, 1170.1),
 ('VEN', 'GAC292', 4, 2023, 1000.6),
 ('PER', '2992DDE', 9, 2021, 989.9)]

In [2]:
###

ticket_prices = [data[-1] for data in lv]
avg_prices = sum(ticket_prices) / len(ticket_prices)

print(f"Average ticket price {avg_prices}")

Average ticket price 996.4

## Questão 2

Considere ainda a mesma lista de tuplas anterior. Crie uma nova lista contendo strings formada pelo mes e ano de vencimento no formato: `mm/aaaa`. Exemplo: se temos mes = 9 e ano = 2022 a string resultante será `'9/2022'`

A seguir, conte quantas dessas strings possuem tamanho maior do que 6.

a) 10<br>
b) 4<br>
c) 6<br>
d) 3

In [7]:
###

passengers_date = [f"{data[2]}/{data[3]}" for data in lv]
date_count = [len(date) for date in passengers_date]
string_count = len([dc for dc in date_count if dc > 6])

print(f"Number of strings with more than 6 characters {string_count}")

['12/2021', '1/2022', '11/2021', '9/2021', '11/2021', '3/2023', '2/2025', '10/2021', '2/2025', '10/2021', '12/2024', '8/2021', '8/2022', '4/2023', '9/2021']
[7, 6, 7, 6, 7, 6, 6, 7, 6, 7, 7, 6, 6, 6, 6]
Number of strings with more than 6 characters 6

## Questão 3

Carregue o arquivo <font style="font-family: monaco">WorldCupMatches.csv</font>, disponível para download. Baixe o arquivo no seu diretório de trabalho para responder as questões.

O arquivo <font style="font-family: monaco">WorldCupMatches.csv</font> contém informações sobre todas as partidas de copas do mundo entre 1930 e 2014, ou seja, cada linha no arquivo corresponde a uma partida de futebol em copa do mundo.

Algumas das colunas que serão importantes para resolver as questões são:
- __Year__: indica o ano da copa
- __Stage__: em qual fase da copa a partida aconteceu
- __HomeTeamName__: nome do time anfitrião da partida
- __AwayTeamName__: nome do time adversário na partida
- __Attendance__: número de espectadores da partida
- __Stadium__: estádio onde a partida foi realizada

Qual o número de colunas do dataframe e quantas colunas são de tipos numéricos?

a) 20 colunas, 12 numéricas<br>
b) 836 colunas, 12 numéricas<br>
c) 20 colunas, 8 numéricas<br>
d) 836 colunas, 8 numéricas

In [8]:
import pandas as pd
###

In [9]:
wc_matches = pd.read_csv("data/WorldCupMatches.csv")
print(wc_matches.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836 entries, 0 to 835
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               836 non-null    int64
 1   Datetime           836 non-null    object
 2   Stage              836 non-null    object
 3   Stadium            836 non-null    object
 4   City               836 non-null    object
 5   HomeTeamName       836 non-null    object
 6   HomeTeamGoals      836 non-null    int64
 7   AwayTeamGoals      836 non-null    int64
 8   AwayTeamName       836 non-null    object
 9   WinConditions      836 non-null    object
 10  Attendance         836 non-null    float64
 11  HalfTimeHomeGoals  836 non-null    int64
 12  HalfTimeAwayGoals  836 non-null    int64
 13  Referee            836 non-null    object
 14  Assistant1         836 non-null    object
 15  Assistant2         836 non-null    object
 16  RoundID            836 non-null    int64
 17  MatchID            836 non-null    int64
 18  HomeTeamInitials   836 non-null    object
 19  AwayTeamInitials   836 non-null    object
dtypes: float64(1), int64(7), object(12)
memory usage: 130.8+ KB
None

## Questão 4

Crie uma função lambda que processe uma tupla contendo um produto definido na forma:
(nome_produto (str), preco (float), ano validade (int), mes validade (int))
E que retorne uma nova tupla contendo o nome do produto concatenado com ` em promoção`, e o preço com desconto de 50%.

Exemplo: `('macarrao', 10.0, 2021, 8)`

Saída da função: `('macarrao em promocao', 5.0, 2021, 8)`

Crie uma função que receba uma lista contendo as tuplas de produtos, um ano e mês de vencimento, e que utilize essa função lambda numa comprehension para retornar uma nova lista contendo apenas produtos próximos ao vencimento, para os quais será feita uma promoção com desconto de 50%. Serão considerados próximos ao vencimento produtos até o ano e mês passados como argumento da função.

Exemplo de uso da funcao: gera_lista_promocao(prods, 2021, 8).

Considerando que produtos com vencimento até Agosto de 2021 estão próximos ao vencimento, use sua função para retornar uma lista de produtos em promoção. Qual é o preço mínimo e máximo dos produtos dessa lista?

a) Menor: 1,00; Maior: 4,49<br>
b) Menor: 1,25; Maior: 5,25<br>
c) Menor: 1,25; Maior: 4,49<br>
d) Menor: 1,00; Maior: 5,25

In [10]:
prods = [('macarrao', 5.99, 2021, 7),
      ('palmito', 12.50, 2022, 8),
      ('arroz', 21.50, 2021, 9),      
      ('feijao', 8.50, 2022, 10),
      ('grao de bico', 8.50, 2022, 8),
      ('feijao preto', 8.90, 2021, 7),
      ('molho', 2.50, 2021, 6),
      ('cafe', 7.30, 2021, 6),
      ('manteiga', 8.99, 2021, 7),
      ('chocolate', 2.00, 2021, 9),
      ('azeite', 10.50, 2022, 1),
      ('farinha', 3.50, 2021, 7),
      ('fuba', 4.50, 2022, 8)]

In [13]:
from numpy import product


apply_sale = lambda data: (f"{data[0]} em promoção", data[1] * 0.5, data[2], data[3])

def create_sale_list(products, year, month):
    return [apply_sale(data) for data in products if data[2] < year or (data[2] == year and data[3] <= month)]

products_sale = create_sale_list(prods, 2021, 8)
sale_prices = [data[1] for data in products_sale]

min_price = min(sale_prices)
max_price = max(sale_prices)

print(f"Products on sale {products_sale}")
print(f"Lowest price {min_price}")
print(f"Highest price {max_price}")

Products on sale [('macarrao em promoção', 2.995, 2021, 7), ('feijao preto em promoção', 4.45, 2021, 7), ('molho em promoção', 1.25, 2021, 6), ('cafe em promoção', 3.65, 2021, 6), ('manteiga em promoção', 4.495, 2021, 7), ('farinha em promoção', 1.75, 2021, 7)]
Lowest price 1.25
Highest price 4.495

## Questão 5

Carregue o arquivo `sales2.csv`. Sem realizar nenhum pré processamento


1. Crie uma visão do dataframe contendo as colunas Item Type e Total Profit apenas das linhas contendo Order Priority = H ou Order Priority = M, e com Units Sold maior do que 1000.
2. Nessa visão, calcule a média e o máximo do Total Profit agrupado pelo Item Type.

Quais são os valores de média e máximo para os itens de tipo: Beverages e Fruits, sem considerar casas decimais?

a) Beverages: Média=111837, Máximo=147031; Fruits: Média=9485, Máximo 18405<br>
b) Beverages: Média=147031, Máximo=147031; Fruits: Média=12228, Máximo 18405<br>
c) Beverages: Média=111837, Máximo=111837; Fruits: Média=9485, Máximo 12228<br>
d) Beverages: Média=147031, Máximo=147031; Fruits: Média=9485, Máximo 18405<br>

In [42]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/sales2.csv')

profits = df.loc[((df["Order Priority"] == "H") | (df["Order Priority"] == "M")) & (df["Units Sold"] > 1000), ["Item Type", "Total Profit"]]
profits.groupby(["Item Type"])["Total Profit"].agg([np.mean, np.max])

                         mean        amax
Item Type
Baby Food        4.935512e+05   825738.04
Beverages        1.470317e+05   147031.74
Cereal           4.381071e+05   766835.04
Clothes          3.528241e+05   449159.04
Cosmetics        1.026766e+06  1678540.98
Fruits           1.222834e+04    18405.17
Household        1.427267e+06  1487261.02
Meat             2.726724e+05   272672.40
Office Supplies  5.950583e+05  1046233.75
Personal Care    1.100385e+05   144521.02
Snacks           4.040108e+05   404010.78